<!DOCTYPE html>
<html>
<head>
  <title>Bittle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'shared/navbar' %>
  </div>
  <div class="container">
    <%= render 'shared/sidebar' %>
  </div>
  <div id="sidebar-menu" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <%= yield %>
  </div>

</body>
<script>
!function ($) {
  $(document).on("click","ul.nav li.parent > a > span.icon", function(){
    $(this).find('em:first').toggleClass("glyphicon-minus");
  });
  $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
}(window.jQuery);

$(window).on('resize', function () {
  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
})
$(window).on('resize', function () {
  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
})
</script>	
</html>
